.home-carousel {
    width: 100%;
    max-height: 100%;
    height: 100%;
    .carousel-home-item {
        position: relative;
        width: 100%;
        max-height: 100%;
        height: 100%;
        > img {
            width: 100%;
            height: 100vh;
            position: absolute;
            top: 0;
        }
        .carousel-home-caption {
            position: absolute;
            bottom: auto;
            overflow: visible;
            max-width: 500px;
            transform: matrix(1, 0, 0, 1, 0, 0);
            text-align: left;
            z-index: 4;
            animation: zoomIn 2s;
            -moz-animation: zoomIn 2s; /* Firefox */
            -webkit-animation: zoomIn 2s; /* Safari and Chrome */
            -o-animation: zoomIn 2s; /* Opera */
            &:hover .title {
                margin-left: 50px;
            }
            .title {
                transition: 1s;
                .title-white, .title-yellow {
                    // margin: 50px 10px;
                    line-height: normal;
                    font-family: "Open Sans", sans-serif;
                    font-style: italic;
                    text-transform: capitalize;
                    visibility: inherit;
                    transform-origin: 50% 50% 0px;
                    opacity: 1;
                    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
                }
                .title-white {
                    z-index: 1;
                    font-weight: 100;
                    color: rgb(255, 255, 255);
                    transition: none 0s ease 0s;
                    text-align: left;
                    border-width: 0px;
                    padding: 0px;
                    letter-spacing: 0px;
                    font-size: 57px;
                    white-space: nowrap;
                    min-height: 0px;
                    min-width: 0px;
                    max-height: none;
                    max-width: none;
                }
                .title-yellow {
                    z-index: 2;
                    font-weight: 800;
                    letter-spacing: 0px;
                    color: rgb(255, 255, 0);
                    transition: none 0s ease 0s;
                    text-align: left;
                    border-width: 0px;
                    padding: 0px;
                    font-size: 76px;
                    white-space: nowrap;
                    min-height: 0px;
                    min-width: 0px;
                    max-height: none;
                    max-width: none;

                }
            }
            @media only screen and (min-width: 750px) {
                .title {
                    margin-bottom: 30px;
                }
            }
            .description {
                font-weight: 100;
                color: rgb(255, 255, 255);
                line-height: 30px;
                font-family: "Open Sans", sans-serif;
                text-transform: none;
                font-size: 18px;

                visibility: inherit;
                transition: none 0s ease 0s;
                text-align: left;
                border-width: 0px;
                margin: 0px;
                padding: 0px;
                letter-spacing: 0px;
                white-space: normal;
                min-height: 0px;
                min-width: 268px;
                max-height: none;
                opacity: 1;
                transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
                transform-origin: 50% 50% 0px;
            }
        }
        @media only screen and (max-width: 750px) {
            .carousel-home-caption {
                width: 88%;
                // max-width: 98%;
                top: 15%;
                left: 3% !important;
                background: rgba(0, 0, 0, 0.5);
                border-radius: 8px;
                padding: 5px;
                // margin-top: 30px !important;
                .title {
                    margin-bottom: 5px;
                    .title-white, .title-yellow {
                        line-height: 36px;
                    }
                    .title-white {
                        font-size: 30px;
                    }
                    .title-yellow {
                        font-size: 40px;
                    }
                }
                .description {
                    text-align: justify;
                    max-width: 100%;
                }
            }
        }
    }
    .carousel-story {
        .story-caption {
            top: 15%;
            left: 100px;
        }
        @media only screen and (max-width: 750px) {
            .story-caption { 
                top: 20% !important;   
                .title-white, .title-yellow {
                    // line-height: 25px !important;
                }
                .title-white {
                    // margin-top: 5px;
                }
                .title-yellow {
                    // font-size: 40px;
                }
                .description {
                    font-size: 18px;
                }
            }
        }
    }
    .carousel-light {
        .light-caption {
            top: 16%;
            right: 150px;
            left: auto;
            bottom: auto;
        }
        @media only screen and (max-width: 750px) {
            .light-caption { 
                top: 12% !important;   
                .title-white, .title-yellow {
                    // margin-bottom: 10px !important;
                }
                .title-white {
                    font-size: 30px !important;
                    // margin: 20px auto !important;
                }
                .title-yellow {
                    font-size: 40px !important;
                    // margin-top: 15px !important;
                }
                .description {
                    font-size: 13px;
                }
            }
        }
    }

    .carousel-family {
        .family-caption {
            top: 25%;
            right: 100px;
            left: auto;
            bottom: auto;
        }
        @media only screen and (max-width: 750px) {
            .family-caption { 
                top: 14% !important;   
                .title-white, .title-yellow {
                    // margin-bottom: 10px !important;
                }
                .title-white {
                    font-size: 30px !important;
                }
                .title-yellow {
                    font-size: 40px !important;
                    // margin-top: 15px !important;
                }
                .description {
                    font-size: 16px;
                }
            }
        }

    }
    .carousel-services {
        .services-caption {
            top: 15%;
            right: 200px;
            left: auto;
            bottom: auto;
        }
        @media only screen and (max-width: 750px) {
            .services-caption {  
                top: 17% !important;   
                .title-white, .title-yellow {
                    // margin-bottom: 10px !important;
                }
                .title-white {
                    font-size: 27px !important;
                }
                .title-yellow {
                    font-size: 30px !important;
                    // margin-top: 15px !important;
                }
                .description {
                    font-size: 17px;
                }
            }
        }
    }
    .carousel-communication {
        .communication-caption {
            top: 15%;
            left: 100px;
            right: auto;
            bottom: auto;
            @media only screen and (max-width: 750px) {
                top: 18%;
                .title-white, .title-yellow {
                    // margin-bottom: 5px;
                }
                .title-white {
                    font-size: 7vw !important;
                }
                .title-yellow {
                    font-size: 8vw !important;
                    // margin-top: 5px;
                }
                .description {
                    font-size: 17px;
                }
            }
        }

    }
    .carousel-logo {
        .logo-caption {
            top: 18%;
            right: 150px;
            left: auto;
            bottom: auto;
        }
        @media only screen and (max-width: 750px) {
            .logo-caption {  
                top: 12% !important; 
                .title-white, .title-yellow {
                    // margin: 10px auto !important;
                }
                .title-white {
                    font-size: 27px !important;
                }
                .title-yellow {
                    font-size: 30px !important;
                    // margin-top: 15px !important;
                }
                .description {
                    font-size: 15px;
                }
            }
        }

    }
    .carousel-future {
        .future-caption {
            top: 25%;
            right: 200px;
            left: auto;
            bottom: auto;
        }
        @media only screen and (max-width: 750px) {
            .future-caption {  
                top: 19% !important; 
                .title-white, .title-yellow {
                    // margin-bottom: 20px !important;
                }
                .title-white {
                    font-size: 27px !important;
                }
                .title-yellow {
                    // font-size: 30px !important;
                    // margin-top: 30px !important;
                }
                .description {
                    font-size: 18px;
                }
            }
        }
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0.6);
    }
    to {
        transform: scale(1);
    }
}
@-moz-keyframes zoomIn { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes zoomIn { /* Safari and Chrome */
    from {
        transform: scale(0.6);
    }
    to {
        transform: scale(1);
    }
}
@-o-keyframes zoomIn { /* Opera */
    from {
        transform: scale(0.6);
    }
    to {
        transform: scale(1);
    }
}

.carousel-control-next-icon {
    top: 100%;
    transform: matrix(1, 0, 0, 1, 0, -48);
    cursor: pointer;
    background: #000;
    // background: rgba(0,0,0,.5);
    width: 40px;
    height: 40px;
    position: absolute;
    display: block;
    z-index: 1000;
}

.carousel-control-next-icon::before {
    content: '\f101'!important;
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    font-size: 15px;
    color: #fff;
    display: block;
    line-height: 40px;
    text-align: center;
}

.carousel-control-prev {
    display: none;
}
.carousel-control-next {
    top: auto;
    bottom: 2%;
}

.carousel-inner {
    height: 100%;
}
