.swiper-container {}
.swiper-slide {
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55));
    text-align: center; 
    
    img, video, .myVideo, iframe {
        opacity: 0.5;
        position: relative;
        z-index: -5;
        width: 100%;
        height: 100vh;
        object-fit: cover;
        object-position: center;
    }
    svg {
        width: 40px;
        padding: 7px;
        cursor: pointer;
        border-radius: 10px;
        margin: auto;
        margin-top: 75vh;
        z-index: 50;
        background: #fff;
    }
    @media screen and (min-width: 1200px) {
        video {
            -ms-transform: scale(1,1);
            -webkit-transform: scale(1,1);
            transform: scale(1,1);
        }
    }
    
}

.project1 {

}

.swiper-pagination-bullet {
    .counter, .title, .subtitle {
        opacity: 1 !important;
        -webkit-transform: inherit !important;
        transform: inherit !important;
    }
} 

.arrows-wrap {
    opacity: 1;
}

.arrows-wrap .swiper-button-prev::before, .arrows-wrap .swiper-button-next::before {
    content: "";
}



// .swiper-slide::after {
//     content: "";
//     background: url(image.jpg);
//     opacity: 0.5;
//     top: 0;
//     left: 0;
//     bottom: 0;
//     right: 0;
//     position: absolute;
//     z-index: -1;   
//   }