.arabic {
    .navbar-standard #menu > li > a {
        font-size: 1.2rem;
    }
    .home-carousel .carousel-home-item .carousel-home-caption {
        text-align: right;
        direction: rtl;
        .title {
            width: auto;
            margin-bottom: 30px;
            .title-white {
                font-weight: 400;
                font-size: 55px;
                text-align: right;
            }
            .title-yellow {
                font-weight: 1000;
                font-size: 70px;
                text-align: right;
            }
        }
        .description {
            font-size: 16px;
            text-align: right;
            line-height: 32px;
            padding: 12px;
        }
        
        // &:hover .title {}
    }
    .carousel-story {
        .description {
            background: rgba(0, 0, 0, 0.5);
        }
    }
    @media only screen and (max-width: 750px) {
        .light-caption, .story-caption { 
            .title-white, .title-yellow {
                margin-bottom: 15px !important;
            }
            .title-white {
                font-size: 40px !important;
                margin: 20px auto !important;
            }
            .title-yellow {
                font-size: 50px !important;
                margin-top: 20px !important;
            }
        }
        .light-caption {
            .description {
                font-size: 16px !important;
            }
        }
        .family-caption, .services-caption {
            .title-white {
                font-size: 60px !important;
                margin: 20px auto !important;
            }
            .title-yellow {
                font-size: 70px !important;
                margin-top: 20px !important;
            }
        }
        .communication-caption {
            .title-white {
                font-size: 40px !important;
                margin: 20px auto !important;
            }
            .title-yellow {
                font-size: 50px !important;
                margin-top: 30px !important;
                margin-bottom: 0px !important;
            }
        }
    }
    @media only screen and (min-width: 993px) {
        .light-caption, .family-caption {
            right: 10% !important;
        }
    }
    // .carousel-home-caption:hover .title {
    //     margin-left: 40%;
    // }
    .services-item {
        direction: rtl;
        @media screen and (min-width: 993px) {
            .line-cont {
                position: relative;
                width: 100%;
                height: 50px;
                .testimonial-line {
                    margin-left: 75%;
                    position: absolute;
                    right: 0;
                }
            }
        }
    }
    .about-carousel {
        .carousel-about-item {
            direction: rtl;
        }
        .abut-content1 {
            p {
                line-height: 1.5;
            }
        }
        .abut-content3 {
            top: 28%;
            > div {
                margin-bottom: 30px;
                text-align: right;
                line-height: 1.5; 
            }
            p {
                line-height: 1.5;
            }
        }
        .abut-content4 {
            line-height: 1.2;
        }
        .abut-content5 {
            line-height: 1.7;
            // letter-spacing: normal;
            // top: 25%;
            .abut-content5Span1 {
                letter-spacing: normal;
            }
        }
        
        .abut-content6 {
            text-align: right;
            direction: rtl;
            > div {
                margin-bottom: 50px;
                line-height: 0.5;
            }
            @media screen and (min-width: 993px) {
                .abut-content6Span1 {
                    font-size: 1.7vw;
                }
                .abut-content6Span2 {
                    font-size: 2vw;
                }
            }
            @media screen and (max-width: 993px) {
                > div {
                    line-height: 0.7;
                }
            }
        }
        .abut-content7 {
            direction: rtl;
            left: 15%;
            > div {
                margin-bottom: 20px;
            }
            p {
                text-align: right;
            }
            @media screen and (min-width: 993px) {
                > div {
                    line-height: 1.2;
                    text-align: right;
                }
                p {
                    font-size: 1.2vw;
                    line-height: 1.3;
                }
            }
            @media screen and (max-width: 993px) {
                > div {
                    line-height: 1.3;
                }
                p {
                    line-height: 1.4;
                }
            }
        }
        .abut-content8 {
            direction: rtl;
            text-align: right;
            > div {
                margin-bottom: 25px;
            }
            p {
                line-height: 1.6;
            }
            .abut-content8Span1 {
                line-height: 1.2;
            }
        }
        .abut-content9, .abut-content10 {
            text-align: right;
            direction: rtl;
            > div, p {
                line-height: 1.7;
            }
        }
        .abut-content9 {
            right: 15%;
        }
        .abut-content10 {
            left: 3%;
            > div {
                line-height: 1.3;
            }
        }
    }
    .contactDIV {
        direction: rtl;
        text-align: right;
        left: 4%;
    }
}